@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e2d5de;
  min-height: 100vh;
}

.list-item {
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  color: #4f4f4f;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  color: white;
}
